server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: file-storing-service
          uri: http://file-storing-service:8081
          predicates:
            - Path=/api/storage/**
          filters:
            - StripPrefix=2
        - id: file-analysis-service
          uri: http://file-analysis-service:8082
          predicates:
            - Path=/api/analysis/**
          filters:
            - StripPrefix=2

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: file-storing-service
        url: /api/storage/v3/api-docs
      - name: file-analysis-service
        url: /api/analysis/v3/api-docs
